.projectsContainer{
    margin-top: 8rem;
    width: 100%;
}

.projectsContent{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

@media (max-width: 860px){
    .projectsContent{
        grid-template-columns: 1fr;
        padding: 0 4rem;
    }
}

@media (max-width: 460px){
    .projectsContainer{
        margin-top: 4rem;
    }
    .projectsContent{
        padding: 0 2rem;
    }
}