.heroContainer{
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
}

.heroContent{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.heroContent .heroCommunity{
    font-family: 'IBM Plex Mono', monospace;
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.heroContent h2{
    margin-top: 0.75rem;
    font-size: 4rem;
}

.heroContent p{
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    color: var(--gray);
    max-width: 60%;
    margin-top: 2rem;
    font-weight: 500;
}