.footerContainer{
    width: 100%;
    margin-top: 5rem;
}

.footerContent{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

.footerContent div span+span{
    margin-left: 3rem;
}

@media (max-width: 860px){
    .footerContent{
        padding-right:3rem;
        padding-left:3rem;
        flex-direction: column;
        gap: 2rem;
    }

    .footerContent div{
        text-align: center;
    }
}